body {
  text-align: center; 
  background-color: #E4F0E0;
}

ul {
  font-family: Tahoma;
}

h1 {
  font-family: Rockwell;
}

h3 {
  font-family: Rockwell;
  font-size: 3rem;
}

p {
  font-family: Tahoma;
  border: 5px solid #FCF9FB;
  padding: 20px;
}
