body {
  text-align: center; 
  background-color: #FCF9FB;
}

ul {
  font-family: Tahoma;
  background-color:#E4F0E0;
  margin: auto;
}

h1 {
  font-family: Rockwell;
}

h3 {
  font-family: Rockwell;
  font-size: 3rem;
}

p {
  font-family: Tahoma;
  border: 5px solid #FFB0B3;
  outline: 5px solid #E4F0E0 ;
  padding: 20px;
}

.navbar {
  border: 30px solid #FFB0B3;
  outline: 10px solid #E4F0E0;
  background-color:#FCF9FB;
}

nav li {
  display: inline;
}
