body {
  text-align: center; 
  background-color: #FEDCD9F;
}

ul {
  font-family: Tahoma;
  background-color:#FFB0B0;
}

h1 {
  font-family: Rockwell;
}

h3 {
  font-family: Rockwell;
  font-size: 3rem;
  border-bottom: 20px solid  #FEDCD9F;
  margin-bottom: 5px;
}

p {
  font-family: Tahoma;
  padding: 20px;
}

.navbar {
  border: 30px solid #FF8F8F;
  outline: 10px solid #FF6666;
  background-color:#FFB0B0;
}

nav li {
  display: inline;
}

.home {
  background-color:#72AB9D;
  margin: 20px;
}
